<script src="/js/main.js"></script>
</body>
<footer class="footer">
   <div class="content has-text-centered">
     <p>
       © <%= new Date().getFullYear() %> 
       <strong>The Shop</strong>
     </p>
   </div>
 </footer>

</html>