<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 class=" is-size-1 has-text-centered">Ooof 500 error, we are working on fixing it.</h1>

    <p></p>

<%- include('includes/end.ejs') %>